!!!
%html
  %head
    %title Happy Birthday as a Service

    %link{rel: "stylesheet", href: "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"}
    %link{rel: "stylesheet", href: "/stylesheets/application.css"}
  %body
    .container
      = yield
      .row
        %footer.col-md-12.text-center
          %ul.list-inline
            %li
              by
              %a{href: "https://twitter.com/aergonaut"} @aergonaut
            %li
              %a{href: "https://github.com/aergonaut/hbaas"} Source
